* {
	margin: 0 auto;
	padding: 0;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	&::-moz-selection {
		background: #ddd;
	}
	&::selection {
		background: #ddd;
	}
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	background: $night;
	color: #525252;
	font-family: 'Raleway', serif;
}

section {
	padding: 40px 0;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	border-top: 10px solid #fff;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent; 
	bottom: 0px;
	content: "";
	width: 0; 
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	z-index: 10;

	&--header {
		border-top: 10px solid $header-accent;
	}

	&--web {
		border-top: 10px solid $web-accent;
	}

	&--foto {
		border-top: 10px solid $foto-accent;
	}

	&--prog {
		border-top: 10px solid $prog-accent;
	}
}

.title {
	font-family: 'Caveat Brush', cursive;
	font-family: 'Patrick Hand', cursive;
	font-size: 20rem;
	font-weight: 100;
	margin: 0 0 16px 0;
	color: #fff;
	text-align: center;

	@media only screen and (max-width: 600px) {
		font-size: 10rem;
	} 

	&--secondary {
		font-size: 6.5rem;
		font-weight: 100;
	}

}

.info {
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
	font-size: 1.8rem;
	line-height: 140%;

	&-container {
		max-width: 500px;
		margin-bottom: 40px;
	}
}

.section {
	min-height: 600px;
	height: 600px;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	flex-direction: column;
	color: #fff;
	position: relative;

	&--small {
		min-height: 200px;
	}

	&--full {
		height: 100vh;
	}
}

.icon {
	font-size: 6rem;
	margin: 20px;

	&:before {
		color: #fff;
	}

	&-container {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-wrap: wrap;
	}
}