.section {
	color: #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 600px;
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0;
	position: relative;	

	&::after {
		content: "";
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		opacity: 0.3;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -5;
	}

	&__container {
		max-width: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&--small {
		min-height: 200px;
	}

	&--full {
		height: 100vh;
	}
}

.background {
	z-index: -10;
	transition: background 0.3s;

	& * {
		z-index: 0
	}

	&--web:hover {
		background: $web-accent;
	}

}

.header {

	&::after {
		background-image: url("../img/header.jpg");
		background-position: 55% 85%;
	}

}

.web {
	background: $web-accent;

	&::after {
		background-image: url("../img/header.jpg");
		background-position: 55% 85%;
	}
}

.foto {
	background: $foto-accent;

	&::after {
		background-image: url("../img/header.jpg");
		background-position: 55% 85%;
	}
}

.prog {
	background: $prog-accent;

	&::after {
		background-image: url("../img/header.jpg");
		background-position: 55% 85%;
	}
}

.imp {
	background: $imp-accent;

	&::after {
		background-image: url("../img/header.jpg");
		background-position: 55% 85%;
	}
}