.section {
	color: $text;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 600px;
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0;
	position: relative;
	background-color: $bg;
	/*background-color: #fff;*/
	@mixin bg $bg;
	background-attachment: fixed;

	&__container {
		max-width: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&--full {
			max-width: none;
			width: 95%;
		}
	}

	&--small {
		min-height: 200px;
	}

	&--full {
		height: 100vh;
	}
}

.red {
	background-color: $red-main;
	@mixin bg $red-dark, 0.1;
}

.blue {
	background-color: $blue-main;
	@mixin bg $blue-dark;
}

.green {
	background-color: $green-main;
	@mixin bg $green-dark;
}

.yellow {
	background-color: $yellow-main;
	@mixin bg $yellow-dark;
}

.melon {
	background-color: $melon-main;
	@mixin bg $melon-dark;
}